.auth{
  gap: 30px;
  width: 80%;
  padding: 20px;
  display: flex;
  min-height: 80vh;
  transition: 0.5s;
  font-weight: 600;
  max-width: 750px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px !important;
}
.auth button{
  gap: 5px;
  display: flex;
  color: var(--a);
  transition: 0.5s;
  padding: 7px 15px;
  align-items: center;
  background-color: var(--sweet);
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.auth button span{
  width: 96px;
  overflow: hidden;
  transition: 0.5s;
  white-space: nowrap;
}
.auth p{
  width: 100%;
}
.auth h2{
  transition: 0.5s;
  color: var(--brilliant);
}
.auth .or{
  width: 80%;
  display: flex;
  max-width: 500px;
  transition: 0.5s;
  position: relative;
  color: var(--brilliant);
  justify-content: center;
  border-top: 2px solid var(--brilliant);
}
.auth .or span{
  top: -12px;
  padding: 0 20px;
  font-weight: 600;
  transition: 0.5s;
  position: absolute;
  background-color: var(--background);
}
.auth div, .auth .side{
  width: 100%;
  gap: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .auth{
    width: 90%;
  }
  .auth button span{
    width: 0;
  }
}
@media screen and (max-width: 320px) {
  .auth{
    width: 95%;
  }
}
@media screen and (max-width: 310px) {
  .auth{
    width: 100%;
  }
}