@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.isBig{
  padding: 4px;
}
.ISBIG{
  padding: 3px;
}
.BIG{
  padding: 2px;
}
.big{
  padding: 1px;
}
.rotate-270deg{
  rotate: 270deg;
}
.rotate-180deg{
  rotate: 180deg;
}
a{
  color: inherit;
  color: var(--a);
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}
button{
  padding: 5px;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: inherit;
  border-radius: 20px;
  font-family: inherit;
  background-color: transparent;
}
svg{
  width: 20px;
  height: 20px;
  pointer-events: none;
}
input,textarea{
  width: 100%;
  min-width: 0;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
}
input:focus, textarea:focus{
  background-color: rgb(232, 240, 254) !important;
}
button:disabled, input:disabled, textarea:disabled{
  opacity: 0.9;
  pointer-events: none;
  filter: grayscale(0.2);
}
main{
  flex: 1;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.loading-circle{
  animation: loader-circle 0.75s linear infinite;
}
@keyframes loader-circle {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.background{
  z-index: -1;
  width: 70vw;
  left: -30vw;
  height: 100vh;
  bottom: -25vh;
  rotate: -40deg;
  position: fixed;
  max-width: 150vh;
  max-height: 100vw;
  background-size: 200%;
  background-position: right;
  animation: backg_1 linear 10s backwards infinite alternate-reverse;
  background-image: linear-gradient(to right, rgb(187, 106, 94), rgb(243, 179, 159), rgb(239, 226, 143), rgb(255, 252, 222));
}
@keyframes backg_1 {
  0%{opacity: 0.7; background-position: right; border-radius: 20% 10% 28% 10%/20% 30% 15% 10%; box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.38), inset 0px 5px 8px rgba(0, 0, 0, 0.15)}
  50%{border-radius: 20% 20% 50% 10%/20% 30% 25% 10%; box-shadow: none;}
  100%{opacity: 0.5; background-position: left; border-radius: 20% 30% 28% 10%/20% 30% 50% 10%; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.38), 0px 5px 8px rgba(0, 0, 0, 0.15);}
}
header{
  inset: 0;
  gap: 30px;
  z-index: 3;
  bottom: auto;
  height: 60px;
  display: flex;
  position: fixed;
  position: fixed;
  padding: 0 20px;
  justify-content: space-between;
  background-color: var(--background-opaque);
  box-shadow: 0 2px 5px 1px var(--background-opaque);
  transition: 0.5s background-color, 0.5s box-shadow;
}
header .logo{
  padding: 0;
}
header p{
  display: none;
  font-size: 1.2em;
  font-weight: 600;
  overflow: hidden;
  transition: 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-inline: 20px 10px;
}
header h2 p{
  padding: 0;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  overflow: visible;
  text-shadow: 0 2px 10px var(--mild-dark);
}
header h2 span{
  width: 100px;
  transition: 0.5s;
}
header h2, footer h2{
  gap: 20px;
  display: flex;
  font-size: 1.5em;
  align-items: center;
}
header h2 svg, footer h2 svg{
  width: 28px;
  height: 28px;
  transition: 0.5s;
  stroke: currentColor;
}
header h2.spin svg, footer h2.spin svg{
  animation: loader-circle 2s linear 1;
}
header nav{
  flex: 1;
  gap: 10px;
  height: 100%;
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  max-width: 350px;
  transition: 0.5s width, 0.5s padding, 0.5s background-color, 0.5s box-shadow;
}
header .mask{
  inset: 0;
  top: 60px;
  opacity: 0;
  z-index: -1;
  position: fixed;
  transition: 0.5s;
  pointer-events: none;
  background-color: var(--mild-dark);
  box-shadow: inset 0 5px 10px var(--background);
}
header section{
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header section.user{
  top: 90px;
  z-index: 1;
  opacity: 0;
  right: 40px;
  padding: 10px 0;
  transition: 0.5s;
  min-width: 160px;
  max-width: 200px;
  position: absolute;
  border-radius: 15px;
  pointer-events: none;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient( to right , rgba(0, 0, 0, 0.15), transparent , transparent )
}
header section.user.inView{
  top: 50px;
  opacity: 1;
  pointer-events: all;
}
header .theme{
  display: flex;
  padding: 0 10px;
  justify-content: flex-start;
}
header .theme svg{
  width: 25px;
  height: 25px;
  opacity: 0.6;
  transition: 0.5s;
  fill: var(--translucent);
}
header .theme span{
  top: 1px;
  left: 3px;
  z-index: -1;
  width: 33px;
  bottom: 1px;
  transition: 0.5s;
  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  background-color: var(--sweet);
}
body.dark header .theme span{
  left: 43px;
}
header .theme menu{
  gap: 10px;
  height: 36px;
  display: grid;
  padding: 3px 5px;
  transition: 0.5s;
  position: relative;
  border-radius: 25px;
  justify-items: center;
  border: solid 2px var(--sweet);
  grid-template-columns: 30px 30px;
  background-image: linear-gradient(to right, var(--mild-dark), transparent , transparent )
}
header a, header button{
  gap: 10px;
  display: flex;
  padding: 0 15px;
  font-weight: 600;
  align-items: center;
}
header .controls{
  gap: 10px;
  z-index: 4;
  display: flex;
}
header .controls svg{
  width: 23px;
  height: 23px;
}
header .controls .toggle{
  opacity: 0;
  display: none;
  background-color: var(--mild-dark);
}
header .controls button{
  height: 33px;
  display: flex;
  min-width: 45px;
  transition: 0.5s;
  padding: 4px 15px;
  align-self: center;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
  background-color: var(--sweet);
}
footer{
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin-top: auto;
  padding: 25px 10px;
}
footer h2{
  gap: 10px;
}
footer a{
  color: var(--highlight)
}
footer div{
  gap: 7px;
  display: flex;
  flex-direction: column;
}
footer section{
  flex: 1;
  padding: 10px;
  display: flex;
  gap: 30px 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer section div{
  flex: 1;
  min-width: 200px;
  padding-left: 30px;
}
footer section div a{
  gap: 12px;
  display: flex;
  align-items: center;
}
footer .devs{
  gap: 10px;
  min-width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}
footer .devs a{
  font-size: 1.1em;
  font-weight: 700;
}
footer .devs a:first-of-type{
  padding-right: 10px;
  border-right: 3px solid var(--brilliant)
}

body {
  display: flex;
  font-size: 16px;
  min-width: 285px;
  min-height: 100vh;
  padding-top: 60px;
  flex-direction: column;
  color: var(--translucent);
  transition: 0.5s background-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
}
body{
  --a: rgb(153, 93, 45);
  --black: rgb(30, 30, 30);
  --error: rgb(211, 61, 61);
  --sweet: rgb(219, 200, 103);
  --white: rgb(255, 253, 246);
  --nodespack: rgb(177 120 75);
  --brilliant: rgb(177, 59, 88);
  --highlight: rgb(177, 59, 88);
  --translucent: rgb(30, 30, 30);
  --compliment: rgb(227 219 180);
  --background: rgb(252, 244, 209);
  --mild-dark: rgba(0, 0, 0, 0.25);
  --background-opaque: rgb(252, 244, 209, 0.75);
  color: rgb(0, 0, 0);
  /* --background: red; */
  /* --background: red; */
}
body.dark{
  --a: rgb(221, 179, 145);
  --error: rgb(172, 48, 48);
  --sweet: rgb(129, 113, 34);
  --highlight: rgb(123 77 29);
  --white: rgb(235, 230, 209);
  --compliment: rgb(129 95 34);
  --nodespack: rgb(235 177 130);
  --background: rgb(48, 44, 30);
  --brilliant: rgb(233, 164, 181);
  --mild-dark: rgba(0, 0, 0, 0.25);
  --translucent: rgb(255, 245, 231);
  --background-opaque: rgba(48, 44, 30, 0.75);
  color: rgb(209, 201, 174);
  /* --background: red; */
  /* --background: red; */
  /* --background: red; */
  /* --background: red; */
}

@media screen and (max-width: 750px) {
  header .controls button{
    opacity: 0;
    display: none;
  }
  header .controls .toggle{
    opacity: 1;
    display: flex;
  }
  header nav{
    right: 0;
    width: 0;
    top: 60px;
    z-index: 3;
    position: fixed;
    flex-direction: column;
    height: calc( 100% - 60px );
    background-color: var(--background);
  }
  header .theme{
    flex: 1;
    align-items: end;
  }
  header nav section{
    gap: 20px;
    width: 100%;
    white-space: nowrap;
    flex-direction: column;
    min-width: 0 !important;
    max-width: 475px !important;
    justify-content: flex-start;
  }
  header nav section.user{
    flex: 1;
    left: 0;
    opacity: 1;
    box-shadow: none;
    top: 0 !important;
    position: relative;
    pointer-events: all;
    background-image: none;
    background-color: transparent;
  }
  header p{
    display: block;
  }
  header a, header button{
    justify-content: flex-end;
  }
  header.inView{
    background-color: var(--background);
  }
  header.inView nav{
    width: 60%;
    padding-right: 20px;
    box-shadow: -3px 0 5px var(--background);
  }
  header.inView .mask{
    opacity: 1;
    pointer-events: all;
  }
  footer{
    flex-direction: column;
  }
  footer section{
    padding-block: 0;
  }
}
@media screen and (max-width: 500px ){
  body{
    font-size: 15px;
  }
  header{
    padding: 0 10px;
  }
  header h2{
    gap: 10px;
  }
  header.inView nav{
    width: 80%;
  }
}
@media screen and (max-width: 350px) {
  header h2 span{
    width: 0;
    overflow: hidden;
  }
}