.data, .data div{
  gap: 10px;
  display: flex;
  font-weight: 600;
  flex-direction: column;
}
.data h2{
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.data h2 svg{
  min-width: 30px;
  min-height: 30px;
  color: var(--highlight);
}
.data h2 button{
  gap: 10px;
  display: flex;
  font-size: 15px;
  transition: 0.5s;
  padding: 5px 10px;
  margin: 10px 30px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
}
.data h2 button svg{
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}
.data span{
  gap: 10px;
  display: flex;
}
.data strong{
  font-weight: 700;
  transition: 0.5s;
  word-wrap: break-word;
  color: var(--highlight);
}
.histories{
  gap: 50px;
  display: flex;
  padding-block: 40px;
  flex-direction: column;
}

.searchbars{
  display: flex;
  gap: 10px 30px;
  flex-wrap:wrap;
}
.searchbars menu{
  flex: 1;
  display: flex;
  max-width: 600px;
  min-width: 275px;
  position: relative;
  flex-direction: column;
}
.searchbars .nodesList{
  opacity: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  overflow-y: auto;
  min-height: 50px;
  font-weight: 600;
  transition: 0.5s;
  max-height: 275px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 25px;
  pointer-events: none;
  scrollbar-width: thin;
  flex-direction: column;
  top: calc( 100% - 3px );
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgb( 40 , 40 , 40 );
  background-color: var(--white);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  scrollbar-color: rgb(186, 201, 226) transparent;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin-block: 20px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-clip: content-box;
    border: 2px solid transparent;
    background-color: rgb(186, 201, 226);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(75, 103, 150);
  }
}
.searchbars .nodesList p, .searchbars .nodesList span{
  opacity: 0.8;
  padding-left: 5px;
}
.searchbars .nodesList p{
  margin-block: auto;
}
.searchbars .nodesList span{
  padding: 3px;
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 2px solid var(--compliment);
}
.searchbars .nodesList span:last-child{
  border-bottom: none;
}
.searchbars .inView .input input{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.searchbars .inView .nodesList{
  opacity: 1;
  pointer-events: all;
}
.datas{
  gap: 10px;
  display: flex;
  font-weight: 600;
  flex-direction: column;
}
.datas p{
  gap: 15px;
  display: flex;
  justify-content: space-evenly;
}
.datas p span{
  flex: 1;
}
.datas p span:first-child{
  color: var(--highlight)
}

.chart{
  gap: 10px;
  display: flex;
  font-weight: 600;
  flex-direction: column;
}
.chart-info, .chart-holder, .chart-zoom{
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  justify-content: space-between;
}
.chart-holder{
  height: 400px;
}
.chart-zoom{
  flex-direction: column;
}
.chart menu{
  gap: 10px;
  display: flex;
}
.chart button svg{
  width: 21px;
  height: 21px;
}
.chart .zoom-scroll{
  display: flex;
  min-height: 35px;
  position: relative;
  align-items: center;
}
.chart .zoom-scroll::before{
  flex: 1;
  width: 100%;
  content: '';
  height: 10px;
  border-radius: 15px;
  background-color: var(--mild-dark);
}
.chart button, .zoom-scroll span{
  display: flex;
  min-width: 40px;
  min-height: 32.5px;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient( to top right, transparent, rgba(0, 0, 0, 0.1), transparent, transparent);
}
.zoom-scroll span{
  top: 2px;
  cursor: pointer;
  min-width: 50px;
  font-size: 14px;
  position: absolute;
  border-radius: 15px;
}
.zoom-scroll p{
  top: 10px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  border-radius: 15px;
  background-color: var(--white);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient( to right, transparent, rgba(0, 0, 0, 0.1), transparent, transparent);
}


@media screen and (max-width: 500px){
  .datas{
    font-size: 15px;
  }
}
@media screen and (max-width: 400px){
  .datas{
    font-size: 14px;
  }
}